body {
  background-color: #0f0f0f;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}
h1 {
  color: rgb(184, 183, 183);
  font-family: Arial, Helvetica, sans-serif;
}
#search {
  height: 30px;
  width: 200px;
  text-align: center;
  background-color: #d3d3d3;
  border: 1px solid #0f0f0f;
  border-radius: 12px;
}
#searchButton {
  height: 30px;
  width: 60px;
  background-color: #d3d3d3;
  border: 1px solid #0f0f0f;
  border-radius: 12px;
}
#searchButton:hover {
  background-color: #0f0f0f;
  color: #ffffff;
  transition: 0.5s;
}
#searchButton:active {
  transition: 0.5s;
  background-color: #0f0f0f;
  color: #ffffff;
}
h3 {
  background-blend-mode: multiply;
  color: #999999;
  font-family: Arial, Helvetica, sans-serif;
}
.container-dark {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 450px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 10px;
  border-radius: 12px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgba(0, 93, 199, 0.5);
}
.E {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #f0f0f0;
  text-align: center;
}
a {
  color: #f0f0f0;
  text-decoration: none;
}
.dropdown {
  transition: 0.5s;
  float: right;
  overflow: hidden;
}
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: 0.5s;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
  transition: 0.2s;
}
.dropdown-content {
  transition: 0.5s;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0 0 12px 12px;
}
.dropdown-content a {
  transition: 0.5s;
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 0 0 12px 12px;
}
.dropdown:hover .dropdown-content {
  transition: 0.5s;
  display: block;
}